.Form {
  padding-bottom: 2rem;
  text-align: center;
}
.Title {
  margin-bottom: 3rem;
}
.Row {
  margin-bottom: 2rem;
}

.FormGroup {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  > div {
    margin-bottom: 1em;
  }
}

.Italic {
  font-style: italic;
  color: var(--accent);
}
