.Form {
  padding-bottom: 2rem;
  text-align: center;
}
.Title {
  margin-bottom: 3rem;
}
.Row {
  margin-bottom: 2rem;
}

.FormGroup {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  > div {
    margin-bottom: 1em;
  }
}

.Italic {
  font-style: italic;
  color: var(--accent);
}

.Result {
  margin-bottom: 2rem;
  display: inline-block;
  color: var(--text-color2);
}
.Penalty {
  white-space: pre-line;
  word-break: keep-all;
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.4em;
  background-color: var(--bg-accent);
  color: var(--text-color);
  border: 2px dotted var(--text-color2);
  > * + * {
    margin-top: 1em;
  }
  .Label {
    color: var(--text-color2);
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  .Value {
    margin-bottom: 2em;
  }
}
.Judgement {
  font-size: 1.5em;
  color: var(--accent);
}
.Judgement2 {
  font-size: 1.5em;
  color: var(--accent2);
}

.Label {
  color: var(--text-color2);
  margin-bottom: 0.5em;
  font-size: 0.8em;
  margin-top: 2em;
}
.Textarea {
  background: var(--bg);
  color: var(--text-color);
}

.Inline {
  display: inline-block;
}
