.ButtonFile {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.ButtonFinger {
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: rotate(180deg);
  }
}

.MarginTop {
  margin-top: 1em;
}
