.Wrapper {
  display: block;
  width: 100%;
}
.MarginTop {
  margin-top: 0.5em;
}
.FlexSpace {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.Flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Who {
  margin: 0.5em;
  margin-left: 0;
}
.ColorAccent {
  color: var(--accent);
}
.ColorAccent2 {
  color: var(--accent2);
}
.ColorAccent3 {
  color: var(--accent3);
}
.Blur {
  opacity: 0.7;
}
.Quot {
  font-style: italic;
  // color: var(--text-color2);
  opacity: 0.5;
}
.Memo {
  margin-top: 0.7em;
  color: var(--text-color);
  max-width: 80%;
}
.Dates {
  font-size: 0.9em;
}

.Penalty {
  margin-top: 0.5em;
  display: inline-block;
  font-weight: 500;
  // background-color: var(--accent-opposite);
}

.LineThrough {
  text-decoration: line-through;
}
.TimeLeft {
  margin-top: 0.5em;
  text-align: right;
  color: var(--accent);
}

.Pointer {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
.NoSelect {
  cursor: help;
}
