.Flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ListMember {
  list-style: none;
  padding: 0.5em;
}
.Accent {
  color: var(--accent);
}

.Content {
  > * + * {
    margin-top: 1.5rem;
  }
}
.Paper {
  margin: 0.1em;
  margin-top: 0.5em;
  background-color: var(--bg);
  color: var(--text-color);
  font-weight: 500;
  border-radius: 0.5em;
  white-space: pre-line;
  word-break: keep-all;
  padding: 1em;
  text-align: left;
}

.Title {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}
.Code {
  background: var(--accent);
  color: var(--accent-opposite);
}
.Label {
  color: var(--text-color2);
  font-size: 14px;
}
.Penalty {
  text-align: left;
  white-space: pre-line;
  word-break: keep-all;
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.1em;
  margin-top: 0.5em;
  background-color: var(--bg-accent);
  color: var(--text-color);
  border: 2px dotted var(--text-color2);
}

.MarginTop {
  margin-top: 0.5em;
}

.Member {
  position: relative;
}
.Crown {
  position: absolute; 
  width:24px; 
  text-align:center;
  left: 5px;
  top: -10px;
  z-index:1;
}
