.Navbar {
  position: relative;
  color: var(--text-color);
  transition: 0.3s;
}
.Navbar:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--bg);
}
.NavbarContent {
  height: var(--height-nav);
  padding: 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * + * {
    margin-left: 10px;
  }
}

.ButtonTheme {
  font-size: 27px;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  padding: 0.5em;
  &:hover {
    transform: scale(1.1);
  }
}

.Now {
  border-bottom: 2px solid var(--text-color);
}

.Padding0 {
  padding: 0.5em;
}
