:root {
  --bg: #000;
  --bg-accent: #333;
  --bg-accent2: #555;
  --text-color: #eee;
  --text-color2: #ccc;
  --accent: #ff4400cc;
  --accent2: #5393ff;
  --accent3: #00e676;
  --accent-opposite: #fff;

  --height-nav: 60px;
}
* {
  box-sizing: border-box;
}

.Back {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  background-position: center;
  // background-image: url(../assets/mask.png);
  // background-size: contain;
  background-image: url(../assets/mask-square.png);
  background-size: 256px;
  // background-color: var(--bg);
  background-color: #f7f7f7;
}
.Front {
  position: relative;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.App {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: transparent;
  // background-attachment: fixed; // 모바일에서 안됨
  color: var(--text-color);
  transition: 0.3s;
  word-break: break-all;
  // padding-bottom: 1rem;
}
.App {
  --bg: #eee;
  --bg-accent: #ccc;
  --bg-accent2: #aaa;
  --text-color: #333;
  --text-color2: #555;
  --accent: #ff4400cc;
  --accent2: #2979ff;
  --accent3: #00a152;
}
.App.dark {
  --bg: #121212;
  --bg-accent: #555;
  --text-color: #eee;
  --text-color2: #ccc;
  --accent: #ff4400;
  --accent2: #33bfff;
  --accent3: #00e676;
  .Back {
    background-image: url(../assets/lu.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

a {
  text-decoration: none;
  color: var(--accent2);
  // color: var(--text-color);
}
a:visited {
  color: var(--accent2);
}

.accent {
  color: var(--accent);
}
.accent2 {
  color: var(--accent2);
}
.accent3 {
  color: var(--accent3);
}

.video_wrapper {
  margin-top: 0.5em;
  position: relative;
  padding-bottom: calc(315 / 560 * 100%);
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-accent);
}

.line-space {
  white-space: pre-line;
}
.blur {
  opacity: 0.7;
}
