:root {
  --bg: #000;
  --bg-accent: #333;
  --bg-accent2: #555;
  --text-color: #eee;
  --text-color2: #ccc;
  --accent: #ff4400cc;
  --accent2: #5393ff;
  --accent3: #00e676;
  --accent-opposite: #fff;

  --height-nav: 60px;
}
* {
  box-sizing: border-box;
}

.Back {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: url(../assets/jc.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: var(--bg);
}
.Front {
  position: relative;
}

.App {
  background-color: transparent;
  // background-attachment: fixed; // 모바일에서 안됨
  color: var(--text-color);
  transition: 0.3s;
  word-break: break-all;
  padding-bottom: 1rem;
}
.App {
  --bg: #eee;
  --bg-accent: #ccc;
  --bg-accent2: #aaa;
  --text-color: #333;
  --text-color2: #555;
  --accent2: #2979ff;
  --accent3: #00a152;
}
.App.dark {
  --bg: #121212;
  --bg-accent: #555;
  --text-color: #eee;
  --text-color2: #ccc;
  --accent2: #5393ff;
  --accent3: #00e676;
  .Back {
    background-image: url(../assets/jc.png);
  }
}

button {
  cursor: pointer;
  border-radius: 0;
  padding: 0.5em;
  border: 2px solid var(--bg);
  background-color: var(--text-color);
  color: var(--bg);
  transition: 0.3s;
  &:hover {
    // border: 2px solid var(--accent);
    background-color: var(--accent);
    color: var(--accent-opposite);
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: var(--accent2);
  // color: var(--text-color);
}
a:visited {
  color: var(--accent2);
}

.accent {
  color: var(--accent);
}
.accent3 {
  color: var(--accent3);
}
