:root {
  --bg: #000;
  --bg-accent: #333;
  --text-color: #eee;
  --accent: #ff4400cc;
  --accent2: #5393ff;
  --accent3: #00e676;
  --accent-opposite: #fff;

  --height-nav: 60px;
}
* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../public/logo512.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: var(--bg);
  color: var(--text-color);
  transition: 0.3s;
  word-break: break-all;
  padding-bottom: 1rem;
}
.App {
  --bg: #eee;
  --bg-accent: #ccc;
  --text-color: #333;
  --accent2: #2979ff;
  --accent3: #00a152;
}
.App.dark {
  --bg: #121212;
  --bg-accent: #555;
  --text-color: #eee;
  --accent2: #5393ff;
  --accent3: #00e676;
}

button {
  cursor: pointer;
  border-radius: 0;
  padding: 0.5em;
  border: 2px solid var(--bg);
  background-color: var(--text-color);
  color: var(--bg);
  transition: 0.3s;
  &:hover {
    // border: 2px solid var(--accent);
    background-color: var(--accent);
    color: var(--accent-opposite);
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: var(--accent2);
  // color: var(--text-color);
}
a:visited {
  color: var(--accent2);
}
