.Profile {
  display: flex;
}

.Photo {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    // transform: rotateY(90deg);
  }
}

.SlideBack {
  // background: #ffff0088;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 21;
}
.Slide {
  background-color: var(--bg);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  position: fixed;
  right: -100%;
  top: 0;
  width: 130px;
  padding: 1rem;
  transition: 0.3s;
  margin-top: var(--height-nav);
  text-align: right;
  z-index: 22;

  button {
    margin-top: 10px;
    margin-left: 10px;
  }
}
.Open {
  right: 0;
}
