.Buttons {
  // position: absolute;
  // right: 0;
  // top: 0;
  text-align: center;
}

.Space {
  padding: 0.5em;
}

.MarginTop {
  margin-top: 1em;
}

.ColorAccent {
  color: var(--accent);
}
.ColorAccent3 {
  color: var(--accent3);
}
.Blur {
  opacity: 0.7;
}
